.otel-type {
    margin-bottom: 20px;
    @media only screen and (min-width: 768px) {
        margin-bottom: 35px;
    }
    @media only screen and (min-width: 1200px) {
        margin-bottom: 74px;
    }
    input {
        display: none;
    }
    .card-input-element:checked + .primary-card {
        border: 1px solid $color-green;
    }
    label {
        cursor: pointer;
    }
    .title {
        font-size: 18px;
        font-weight: 500;
        line-height: 25px;
        color: $color-dark-blue;
        position: relative;
        width: 100%;
        margin-bottom: 20px;
        @media only screen and (min-width: 768px) {
            font-size: 30px;
            font-weight: 700;
            line-height: 35px;
            margin-bottom: 30px;
        }
        &:after {
            content: "";
            position: absolute;
            height: 3px;
            width: 100%;
            bottom: -10px;
            left: 0;
            background-color: $color-light-blue;
            border-radius: 18px;
        }
    }
    .card-section {
        display: flex;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
        & {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }
        margin-bottom: 20px;
        @media only screen and (min-width: 768px) {
            margin-bottom: 35px;
        }
        @media only screen and (min-width: 1200px) {
            margin-bottom: 74px;
        }

        label:not(:last-child) {
            .primary-card {
                margin-right: 20px;
                @media only screen and (min-width: 768px) {
                    margin-right: 30px;
                }
            }
        }
    }

    .primary-card {
        padding: 16px 30px;
        background-color: white;
        border: 1px solid $color-light-blue;
        border-radius: 9px;
        min-width: 300px;
        cursor: pointer;
        @media only screen and (min-width: 768px) {
            padding: 33px 56px;
        }
        .card-title {
            font-size: 22px;
            font-weight: 700;
            line-height: 25px;
            color: $color-dark-blue;
            @media only screen and (min-width: 768px) {
                font-size: 30px;
                line-height: 35px;
            }
        }
        .card-img {
            min-width: 200px;
        }
        .card-content {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            margin-top: 10px;
            .text-price {
                font-size: 18px;
                font-weight: 700;
                line-height: 25px;
                color: $color-dark-blue;
                @media only screen and (min-width: 768px) {
                    font-size: 22px;
                    line-height: 35px;
                }
                @media only screen and (min-width: 992px) {
                    font-size: 30px;
                }
            }
        }
        .info-rev {
            display: flex;
            flex-direction: column;
            .text {
                font-size: 18px;
                font-weight: 400;
                line-height: 25px;
                color: $color-dark-blue;
                @media only screen and (min-width: 768px) {
                    font-size: 22px;
                    font-weight: 400;
                    line-height: 35px;
                }
                @media only screen and (min-width: 992px) {
                    font-size: 30px;
                }
            }
        }
    }
}
